{% extends 'base.html' %} 

{% block title %} {{ cats }} {% endblock %} 

{% block body %}

{% if category_posts %}
    <h1>{{ cats }}</h1>
    <ul>
    {% for post in category_posts %}
    <li>
        <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
        - {{post.author.first_name }} {{ post.author.last_name }}  
        {% if user.is_authenticated %}
        - <small><a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
        {% endif %}
        <br />
        <small> Post date: {{ post.date }}</small><br />
        {{ post.body|slice:":200"|safe }}
    </li>
    {% endfor %}
    </ul>
{% else %}
    <h3>There are no posts in that category</h3>
{% endif %}

{% endblock %}
